body{
	padding-top: 70px;
	background:#000 url(../images/bg.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: 100% 100%;
	overflow: hidden;
}
.navMenu{
	list-style-type: none;
	padding: 0;
}
.navMenu li{
	
}
.navMenu li{
	
	border-bottom: 1px solid #FFF;
}
.navMenu li h3{
	background-color: #080808;
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 18px;
	text-indent: 10px;
	cursor: pointer;
	color: #999;
}
.navMenu li h3:hover{
	color: #FFF;
}
.navMenu li .list-group .list-group-item{
	border: none;
	text-align: center;
}
.articleCotainer>ul{
	display: none;
}
.list-group-item{
	cursor: pointer;
}
