<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="description" content="{{site.description}}"/>
		<meta name="author" content=" {{site.author}} "/>
		<meta name="keywords" content="陈意的博客，博客：{{site.description}}"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<title>{{site.title}}</title>
		<link rel="icon" type="text/css" href="{{site.url}}/favicon.ico"/>
		<link href="https://cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/syntax.css"/>
		<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{{site.url}}/assets/script/jquery.nicescroll.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function  () {
				$(document.body).niceScroll({
				    cursorcolor: "#ccc",//#CC0071 光标颜色
				    cursoropacitymax: 0.5, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
				    touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
				    cursorwidth: "5px", //像素光标的宽度
				    cursorborder: "0", // 游标边框css定义
				    cursorborderradius: "5px",//以像素为光标边界半径
				    autohidemode: false //是否隐藏滚动条
				});
			});
		</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="opacity: 0.8;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="myNav">
						<span class="sr-only">陈意博客</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-bold"></span>陈意的blog</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://chen-y.github.io/">About Me</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="row">
						
						<div class="col-sm-12">
							<div class="jumbotron" style="opacity: 0.8;">
								<h2>欢迎访问我的博客</h2>
								<p>这些是真实的例子或者平常的工作实例！</p>
								<p class="text-warning">您可以发表您的意见或者学习它</p>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default" style="opacity: 0.8;">
								<div class="panel-heading">
									<span class="panel-title"><strong>{{page.title}}</strong></span>
								</div>
								<div class="panel-body">
									{{page.content}}
								</div>
								<div class="panel-footer">
									<nav aria-label="...">
										<ul class="pager" style="margin: 0;">
											
											<li class="pull-left"><a href="javascript:;">prev</a></li>
											
											<li class="pull-right"><a href="javascript:;">next</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						
					</div>

				</div>
				<div class="col-sm-3">
					<ul class="list-group" style="opacity: 0.8;" id="articleGroup">
						{% for item in site.categories %}
						    <li class="list-group-item" data-group="{{item.first}}">
						    	<span class="badge">{{item | last | size}}</span>
						    	{{item.first}}
						    	
						    </li>
					    {% endfor %}
					</ul>
					<div class="panel panel-default">
						<div class="panel-heading"><span class="panel-title" id="articleTitle"></span></div>
						<div class="panel-body">
							<div id="articleCotainer">
								{% for item in site.categories %}
									<ul style="display:{% if forloop.index == 1 %}block{% else %}none{% endif %};" data-group="{{item.first}}">
										{% for row in item.last %}
											<li><a href="{{row.url}}">{{row.title}}</a></li>
										{% endfor %}
									</ul>
								{% endfor %}
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</body>
	<script type="text/javascript">
		$(function  () {
			var urlStr = window.location.pathname;
			posGroup = $('#articleCotainer a[href="'+urlStr+'"]');
			if (posGroup.length>0){
				$('#articleTitle').text(posGroup.closest('ul')[0].dataset.group);
			} else {
				$('#articleTitle').text('HTML');
			}
			$('#articleGroup li').on('click',function  () {
				$('#articleCotainer>ul').eq($(this).index()).show().siblings().hide();
				$('#articleTitle').text($(this).text());
			});
			
		});
	</script>
</html>
