<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/> 
		<title>{{site.title}}</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/weui/dist/style/weui.css" media="screen and (max-width:768px)"/>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/syntax.css"/>
		<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
	</head>
	<style type="text/css">
		body{
			background: url({{site.url}}/assets/images/bodyback.jpg) repeat;
		}
		.page-header{
			border-bottom-color: #CCCCCC;
		}
	</style>
	<body>
		<div class="container hidden-xs">
			<ol class="breadcrumb">
			    <li><a href="/index">首页</a></li>
			    <li><a href="/classify.html">分类文集</a></li>
			    <li class="active">{{page.title}}</li>
			</ol>
			<div class="page-header">
			    <h3>{{page.title}}
			        <small>{{page.date | date: "%b %d, %y"}}</small>
			    </h3>
			</div>
			<div class="row">
				<div class="col-sm-9">
					{{content}}
				</div>
				<div class="col-sm-3">
					<h4>网友还阅读了</h4>
					<ol>
					  {% for post in site.related_posts %}
					  	<li><a href="{{post.url}}">{{post.title}}</a></li>
					  {% endfor %}
					</ol>
				</div>
			</div>
		</div>
		<div class="page article js_show visible-xs">
		    <div class="page__bd">
		        <article class="weui-article">
	                <h2 class="title">{{page.title}}</h2>
	                <section>
	                	{{content}}
	                </section>
		        </article>
		    </div>
		    <div class="weui-footer">
	            <p class="weui-footer__links">
	                <a href="/index.html" class="weui-footer__link">首页</a>
	                <a href="/classify.html" class="weui-footer__link">分类文集</a>
	            </p>
	            <p class="weui-footer__text">Copyright 1990-2017 Chen Yi</p>
	        </div>
		</div>
	</body>
	<script type="text/javascript">
		console.log(location);
	</script>
</html>
